@(title: String, demoText: String, toznyRealmId: String)

<!DOCTYPE html>

<html lang="en">
<head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link href="https://s3-us-west-2.amazonaws.com/tozny/production/interface/javascript/v2/tozny.css" rel="stylesheet" type="text/css" />
        <script src="@routes.Assets.at("javascripts/main.js")" type="text/javascript"></script>
        <style>
            body {
            margin:0;
            padding:0;
            }
        </style>
    
    </head>
    <body>
        <h1>@demoText</h1>

        <div id="tozny"></div>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.js"></script>
		<script src="https://s3-us-west-2.amazonaws.com/tozny/production/interface/javascript/v2/jquery.tozny.js"></script>
		<script type="text/javascript">
			$(document).ready(function() {
				$('#tozny').tozny({
					"type": "login",
					"style": "button",
					"theme": "light",
					"button_theme": "light",
					//"realm_key_id": "@toznyRealmId",
					"realm_key_id": "sid_54738a875dd7b",
					"api_url": "https://api.tozny.com/index.php",
					"form_action": "@routes.Tozny.verify"  // relative URL to POST endpoint
				});
			});
		</script>

    </body>
</html>